.result_container {
    margin: 2rem auto 1rem;
    text-align: center;
  }
  
  .result_message {
    font-size: 2rem;
  }
  
  .result_planet {
    margin: 1rem;
  }
  
  .result_box {
    margin: 1rem;
    font-size: 1.5rem;
  }
  